
/*hover para link*/
#hoverA:hover {
    opacity: 0.5;
    text-decoration: none;
}


/**plantillas-body**/ 


td {
    padding: 20px;
}

#grid-item {
    background-color: rgba(248, 248, 248, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}

#grid {
    background-color: whitesmoke;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;

}

/*margen*/
.marginArriba {
    /**margin-top: 25px;**/
    margin: 1em auto 2em;
}

/******@mediaquery****/

/*h3*/
h3 {
    text-align: center;
    color: rgb(33, 37, 41);
    
}

/*h3 para uso especifico*/
.h3white {
    text-align: center;
    margin-top: 3%;
    color: #fff;

}



/*informacion de juego*/
#container-1 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    color: white;
    background-color: tomato;

}               
  

.inframe-container-div {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}
