$color-letter-white: #FFFF;
$color-border: red;

%opacity-hover {
  opacity: 0.5;
  text-decoration: none;
  color: #fff!important;
}

.leterWhite {
  a {
    color: $color-letter-white;
    @extend %opacity-hover;
  }
}


.leterWhite{
  color: $color-letter-white;
}

.leterWhite:hover {
  @extend %opacity-hover;

}

.cajadestacada {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    color: black;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
/*index*/
@media screen and (max-width: 360px) {
  .box1 {
      margin: 1em;
      overflow-x: hidden;
      padding: 2em 2em !important;
  }

}

.box1.special1 {
  text-align: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.box1 {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
}

header.major1 {
  padding: 1em 0;
  text-align: center;
}


header.major1 p {
  display: inline-block;
  border-top: solid 2px #e5e5e5;
  color: #777;
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
  font-style: normal;
}


/* button */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #faf7f7;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}




/*history.html*/
@media screen and (max-width: 736px) {
  .box {
      margin: 1em;
      overflow-x: hidden;
      padding: 2em 2em !important;
  }

}

.box.special {
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
}

header.major {
  padding: 1em 0;
  text-align: center;
}


header.major p {
  display: inline-block;
  border-top: solid 2px #e5e5e5;
  color: #777;
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
  font-style: normal;
}

/* fondo index1*/
body{  
    background: -webkit-linear-gradient(to right, #41282c, #2a4d63  );
    background: linear-gradient(to right, #41282c, #2a4d63);
  } 



#example2 {
  border: 2px solid $color-border;
  padding: 10px;
  border-radius: 50px 20px;
  background-color: $color-border;
}


/*media para pantallas del juego de bleach*/
@media only screen and (max-width: 380px){    
  .inframeScreenMedia {
      width: 320px;
      height: 380px;
      }

}

/*para pantalla de index*/
@media only screen and (max-width: 720px) {
  .fondoIndex {  
      background: -webkit-linear-gradient(to right, #c02fec, #800f5e);
      background: linear-gradient(to right, #c02fec, #800f5e);
      }  /*#c02fec */

  h3 {
      text-align: center;
      color: lightgoldenrodyellow;
  }
  
  iframe{
      width: 370px;
      border: 5px solid black;
      
      
  }

}

/*para pantalla de index*/
@media only screen and (max-width: 375px) {
  iframe{
      width: 300px;
      height: 200px;
      border: 5px solid black;
         
  }

}

/*footer*/
.footer-final {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.2);
}

.text-center {
  text-align: center!important;
}

.py-3 {
  padding-bottom: 1rem!important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.color-a-h5 {
  text-decoration: none;
  color: white;

  .colorhover:hover {
    opacity: 0.5;
    color: white;
  }
}

.unique-color-dark {
  display:  block;
  background-color: #343a40!important;
}

.font-small {
  font-size: .9rem;
}

.pt-4{
  padding-top: 1.5rem!important;
}

footer.page-footer {
  bottom: 0;
  color: #fff;
}

.py-2 {
  padding-bottom: 0.5rem!important;
}



/*bleach game*/
@media screen and (max-width: 736px) {
  .box2 {
      margin: 1em;
      overflow-x: hidden;
      padding: 2em 2em !important;
  }

}

.box2.special2 {
  text-align: center;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.box2 {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
}

header.major2 {
  padding: 1em 0;
  text-align: center;
}


header.major2 p {
  display: inline-block;
  border-top: solid 2px #e5e5e5;
  color: rgb(20, 11, 11);
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
  font-style: normal;
}

.tablemargin {
  margin-bottom: 5%;

}

/*opening.html*/
.colorText {
  margin-top: 2%;
  p {
    color: white;
    text-align: center;
  }

  h2 {
    color: white;
    text-align: center;
  }

}
