table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
  
body {
  padding: 14px;
  text-align: center;
}

th, td {
  padding: 20px;
  
}

h1 {
  color: blue;
  font-family: verdana;
  
  font-size: 300%;
}

a {
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
  text-decoration: none;

}

